<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="d-flex justify-content-between">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item light-text-color active">
              <%= link_to "HomePage", root_path, class: "nav-link light-text-color" %>
            </li>
            <li class="nav-item light-text-color">
              <%= link_to "New", new_battle_path, class: "nav-link light-text-color" %>
            </li>
            <li class="nav-item light-text-color">
              <% if user_signed_in? %>
                <%= link_to "Index", battles_path, class: "nav-link light-text-color" %>
              <% else %>
                <%= link_to "Index", index_ongoing_battles_path, class: "nav-link light-text-color" %>
              <% end %>
            </li>
            <li class="nav-item light-text-color">
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link light-text-color" %>
              <% else %>
                <%= link_to "Login", new_user_session_path, class: "nav-link light-text-color" %>
              <% end %>
            </li>
        </ul>
      </div>

      <% if user_signed_in? %>
        <div>
          <span class="avatar-text"><%= current_user.pseudo %></span>
          <% if current_user.photo.attached?%>
            <%= cl_image_tag current_user.photo.key, class: 'avatar' %>
          <% else %>
            <%= image_tag "Default_avatar.jpg", class: 'avatar' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
