        <div class="animation">
            <%= image_tag "AI_Loader_1.svg", class: "frame frame-1" %>
            <%= image_tag "AI_Loader_2.svg", class: "frame frame-2" %>
            <%= image_tag "AI_Loader_3.svg", class: "frame frame-3" %>
            <%= image_tag "AI_Loader_4.svg", class: "frame frame-4" %>
            <%= image_tag "AI_Loader_5.svg", class: "frame frame-5" %>
            <%= image_tag "AI_Loader_6.svg", class: "frame frame-6" %>
            <%= image_tag "AI_Loader_7.svg", class: "frame frame-7" %>
            <%= image_tag "AI_Loader_8.svg", class: "frame frame-8" %>
            <%= image_tag "AI_Loader_9.svg", class: "frame frame-9" %>
            <%= image_tag "AI_Loader_10.svg", class: "frame frame-10" %>
            <%= image_tag "AI_Loader_11.svg", class: "frame frame-11" %>
            <%= image_tag "AI_Loader_12.svg", class: "frame frame-12" %>
            <%= image_tag "AI_Loader_13.svg", class: "frame frame-13" %>
            <%= image_tag "AI_Loader_14.svg", class: "frame frame-14" %>
            <%= image_tag "AI_Loader_15.svg", class: "frame frame-15" %>
            <%= image_tag "AI_Loader_16.svg", class: "frame frame-16" %>
            <%= image_tag "AI_Loader_17.svg", class: "frame frame-17" %>
            <%= image_tag "AI_Loader_18.svg", class: "frame frame-18" %>
        </div>
