<%= simple_form_for battle do |f| %>

<div class="container-form-new">

  <%= f.input :category,
              as: :radio_buttons,
              required: false,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: Response::CATEGORIES,
              label_method:
                  lambda { |category|
                    render "icons", category: category
                 } %>

  <%= f.input :end_date,
              label: "Ends in",
              as: :radio_buttons,
              required: false,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'duration-wrapper',
              item_wrapper_class: 'duration-item',
              input_html: {class: 'duration-selector'},
              collection: Response::DURATIONS %>

  <div class="prompt form-floating">
    <%= f.input :prompt, label: false, wrapper: false, class: "custom-height"%>
    <%= f.label :prompt, "Your prompt" %>
  </div>

  <div class="buttons">
    <%= link_to battles_path do %>
      <%# <i class="fas fa-circle-arrow-left back-icon"></i> %>
      <i class="fa-solid fa-arrow-left back-icon"></i>
    <% end %>
    <%= f.button :submit, 'Battle now !', class: 'button-new' %>
  </div>

</div>

<% end %>
