<div id="<%= dom_id(response) %>" data-controller="response-card">
  <%# response.token %>
  <%= turbo_stream_from dom_id(response) %>
  <% if response.content.nil? %>
    <%= markdown_to_html(render "loading_animation") %>
  <% else %>

    <div>
      <% if Vote.user_voted?(user, battle) && !vote.nil? && response.model == vote.response.model %>
        <p class="text-turquoize-color mb-2 text-center fs-3"><%= vote.response.model %></p>
        <p class="ms-2 text-gray-color">tokens: <%= vote.response.token %></p>
      <% end %>
      <i class="fa-solid fa-heart heart" data-response-card-target="heart"></i>
    </div>

    <div class="response-content-text-card" data-response-card-target="content">
    <p class="response-content-text"><%= markdown_to_html(response.content) %></p>
    </div>
  <% end %>
</div>
