<div id="<%= dom_id(response) %>" data-controller="response-card">
  <%# response.token %>
  <%= turbo_stream_from dom_id(response) %>
  <% if response.content.nil? %>
    <%= markdown_to_html(render "loading_animation") %>
  <% else %>

    <div>
      <div class="heart-and-model">
        <% if Vote.user_voted?(user, battle) && !vote.nil? && response.model == vote.response.model %>
          <p class="text-turquoize-color text-center fs-3 show-model-response"><%= vote.response.model %></p>
        <% end %>
        <%# <i class="fa-solid fa-heart heart" data-response-card-target="heart"></i> %>
      </div>
      <% if Vote.user_voted?(user, battle) && !vote.nil? && response.model == vote.response.model %>
        <p class="margin-token text-gray-color">tokens: <%= vote.response.token %></p>
      <% end %>

    </div>

    <div class="response-content-text-card" data-response-card-target="content">
    <p class="response-content-text"><%= markdown_to_html(response.content) %></p>
    </div>
  <% end %>
</div>
