<h1 class="title-index"><%=@battles.any? ? "All battles" : "No battle in progress "%></h1>
<div class="history-container">
  <div class="filter-column">
    <div class="design-filter">
      <%= form_with url: history_battles_path, method: :get, local: true do %>
        <ul class="filters">
          <% filters = [
            { key: "content generation", value: "Content generation", label: "Content generation", icon: "fa-solid fa-keyboard" },
            { key: "research", value: "Research", label: "Research", icon: "fa-solid fa-magnifying-glass" },
            { key: "discussion", value: "Discussion", label: "Discussion", icon: "fa-solid fa-comments" },
            { key: "mathematics", value: "Mathematics", label: "Mathematics", icon: "fa-solid fa-calculator" }
          ] %>

          <% filters.each do |filter| %>
            <li>
              <div class="div-label">
                <%= check_box_tag "filters[#{filter[:key]}]", "1", params.dig(:filters, filter[:key].to_s).present?, class: "filter-check", id: filter[:key].to_s, onchange: "this.form.submit()" %>
                <label data-label="<%= filter[:label] %>" for="<%= filter[:key] %>">
                  <i class="<%= filter[:icon] %>"></i>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
        <hr class="separator">
        <ul class="winners">
          <% winners = [
            { key: :OpenAI, label: "ChatGPT", icon: "filter/openai.svg" },
            { key: :Claude, label: "Claude", icon: "filter/claude.svg" },
            { key: :Mistral, label: "Mistral", icon: "filter/mistral.svg" }
          ] %>
          <% winners.each do |winner| %>
            <li>
              <div class="div-label">
                <%= check_box_tag "winners[#{winner[:key]}]", "1", params.dig(:winners, winner[:key].to_s).present?, class: "filter-check", id: winner[:key].to_s, onchange: "this.form.submit()" %>
                <label data-label="<%= winner[:label] %>" for="<%= winner[:key] %>">
                  <%= inline_svg winner[:icon], class: "svgAI" %>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="card-column">
    <div class="card-row">
      <% @battles.each do |battle| %>
        <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
          <div class="prompt-card">
            <div class="prompt-top"><p><%= battle.prompt %></p></div>
            <div class="prompt-card-body">
              <div class="category"><%= battle.category.capitalize %></div>
              <div class="last-elements-card">
                <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
