<h1>C'EST L'INDEX T'AS CAPTé</h1>

<!-- Début filter -->
<div class="card-row">
<%= form_with url: battles_path, method: :get do |form| %>
<!-- liste pour le status -->
  <ul class="list-group" id="items-list">
    <li class="list-group-item">
      <!-- Radio pour "Toutes les battles" (aucun filtre) -->
      <div class="form-check">
        <%= radio_button_tag "status", "", params[:status].blank?, class: "form-check-input", onchange: "this.form.submit()" %>
        <%= label_tag "winner_all", "All", class: "form-check-label" %>
      </div>
      <!-- Radio pour "In Progress" (winner NULL) -->
      <div class="form-check">
        <%= radio_button_tag "status", "nil", params[:status] == "nil", class: "form-check-input", onchange: "this.form.submit()" %>
        <%= label_tag "winner_in_progress", "In Progress", class: "form-check-label" %>
      </div>
      <!-- Radio pour "Finished" (winner NOT NULL) -->
      <div class="form-check">
        <%= radio_button_tag "status", "not_nil", params[:status] == "not_nil", class: "form-check-input", onchange: "this.form.submit()" %>
        <%= label_tag "winner_finished", "Finished", class: "form-check-label" %>
      </div>
    </li>
  </ul>
<!-- fin liste pour le status -->
<!-- liste pour la category -->
  <ul class="list-group" id="items-list">
    <li class="list-group-item">
        <% Battle.select(:category).distinct.order(:category).pluck(:category).each do |category| %>
          <div class="form-check">
            <%= check_box_tag "category[]", category, params[:category]&.include?(category), class: "form-check-input", onchange: "this.form.submit()" %>
            <%= label_tag "category_#{category}", category, class: "form-check-label" %>
          </div>
        <% end %>
    </li>
  </ul>
<!-- fin liste pour la category -->
<!-- liste pour le status -->
  <ul class="list-group" id="items-list">
    <li class="list-group-item">
      <% Battle.where.not(winner: nil).select(:winner).distinct.order(:winner).pluck(:winner).each do |winner| %>
        <div class="form-check">
          <%= check_box_tag "winner[]", winner, params[:winner]&.include?(winner), class: "form-check-input", onchange: "this.form.submit()" %>
          <%= label_tag "winner_#{winner}", winner, class: "form-check-label" %>
        </div>
      <% end %>
    </li>
  </ul>
<!-- fin liste pour le status -->
  <% end %>
</div>
<!-- fin filter -->

<div class="card-row">
  <% if @battles.any? %>
    <% @battles.each do |battle| %>
      <% status = battle.winner ? "Closed" : "In Progress"  %>
        <div class="prompt-card">
          <div class="prompt"><%= link_to battle.prompt, battle_path(battle) %></div>
          <div class="category"><%= battle.category %></div>
          <div class="pseudo"><%= battle.user.pseudo %></div>
          <div class="status">
            <%= status %>
            <%= battle.winner %>
          </div>
        </div>
    <% end  %>
  <% else %>
    <div class="prompt-card">
      <p>Aucune bataille en cours.</p>
    </div>
  <% end %>
</div>
