<script>
        const monContainer = document.getElementById("unid");
        function toLeft(container, scrollDistance) {
          container.scrollBy({left: -scrollDistance, behavior: "smooth"});
        }

        function toRight(container, scrollDistance) {
          container.scrollBy({left: scrollDistance, behavior: "smooth"});
        }
  </script>


<div class="index-container">
  <h1 class="title-index"> <%= "Welcome back, #{current_user.pseudo} !" %> </h1>
    <div class="first-row-index">
      <h2 class="second-title">My stats</h2>
      <div class="index-first-row">
        <div class="user-infos">
          <div class="user-infos-image">
            <%#= cl_image_tag current_user.photo.key, class: 'avatar-square-large' %>
          </div>

          <div class="user-infos-text">
            <span class="avatar-text"><%= current_user.pseudo %></span>
            <span class="avatar-text"><%= "You have voted 123 times"%></span>
            <span class="avatar-text"><%= "You have made 321 prompts" %></span>
            <span class="avatar-text"><%= "Your prompts have received a total of 4221 votes" %></span>
            <span class="avatar-text"><%= "Current rank : Noob" %></span>
          </div>
        </div>


      <div class="button"><%= button_to "Start a new battle", new_battle_path, method: :get, class: "button-new" %></div>


        <div class="icon-ai">

          <%= image_tag "logos_ai/claude.png", alt: "logo", class: " logo logo-ai-claude" %>
          <%= image_tag "logos_ai/deepseek.png", alt: "logo", class: "logo logo-ai-deepseek" %>
          <%#= image_tag "logos_ai/gemini.png", alt: "logo", class: "logo-ai" %>
          <%= image_tag "logos_ai/grok.png", alt: "logo", class: "logo logo-ai-grok" %>
          <%#= image_tag "logos_ai/meta.png", alt: "logo", class: "logo-ai" %>
          <%= image_tag "logos_ai/Mistral.png", alt: "logo", class: "logo logo-ai-mistral" %>
          <%#= image_tag "logos_ai/open_ai.png", alt: "logo", class: "logo-ai" %>



        </div>



      </div>
    </div>



    <div class="second-row-index">
      <h2 class="second-title">My battles</h2>
        <div class="index-second-row" id="unid">

          <% @battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>


        </div>

        <button onclick="toLeft(unid, 500)">Previous</button>
        <button onclick="toRight(unid, 500)">Next</button>

    </div>






    <div class="third-row-index">
      <h2 class="second-title">Opened battles</h2>
        <div class="index-third-row">

          <% @battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>

        </div>

        <button onclick="showMoreCards()">Show more</button>

      </div>


    <div class="fourth-row-index">
      <h2 class="second-title">History</h2>
        <div class="index-fourth-row">

          <% @battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>

        </div>
    </div>

</div>
