<script>
        const monContainer = document.getElementById("unid");
        function toLeft(container, scrollDistance) {
          container.scrollBy({left: -scrollDistance, behavior: "smooth"});
        }

        function toRight(container, scrollDistance) {
          container.scrollBy({left: scrollDistance, behavior: "smooth"});
        }
  </script>

<script>
    document.addEventListener("turbo:load", function () {
        const cards = document.querySelectorAll(".prompt-card-third-row");
        const buttonMore = document.getElementById("loadMore");
        const buttonLess = document.getElementById("loadLess");
        let visibleCount = 0;

        function showMoreCards(shouldScroll = true) {
            let nextCards = Array.from(cards).slice(visibleCount, visibleCount + 3);
            nextCards.forEach(card => card.classList.remove("hidden"));
            visibleCount += 3;

            if (visibleCount >= cards.length) {
                buttonMore.style.display = "none";
            }

            if (visibleCount > 3) {
              buttonLess.style.display = "inline";
        }

          if (shouldScroll) {
            window.scrollBy({ top: 240, behavior: "smooth"});
          }

        }

        function showLessCards() {
        if (visibleCount > 3) {
            let lastCards = Array.from(cards).slice(visibleCount - 3, visibleCount);
            lastCards.forEach(card => card.classList.add("hidden"));
            visibleCount -= 3;
        }

        if (visibleCount <= 3) {
            buttonLess.style.display = "none";
        }

        if (visibleCount < cards.length) {
            buttonMore.style.display = "inline";
        }
        window.scrollBy({ top: -240, behavior: "smooth"});
      }

        showMoreCards(false);

        buttonMore.addEventListener("click", showMoreCards);
        buttonLess.addEventListener("click", showLessCards);
    });
</script>


<div class="index-container">
  <h1 class="title-index"> <%= "Welcome back, #{current_user.pseudo} !" %> </h1>

      <div class="index-first-row">
        <div class="user-infos-index">
          <div class="user-infos-image"><%= cl_image_tag current_user.photo.key, class: 'avatar-square-large' %></div>
          <div class="infos-user-left">
              <div class="user-infos-text">

                <div class="square-info">
                  <div class="square-info-title">Prompts</div>
                  <div class="square-info-bottom">
                    <i class="fa-solid fa-terminal"></i><span><%= current_user.battles.count %></span>
                  </div>
                </div>
                <div class="square-info">
                  <div class="square-info-title">Votes</div>
                  <div class="square-info-bottom">
                    <i class="fa-solid fa-heart"></i><span><%= current_user.votes.count %></span>
                  </div>
                </div>
                <div class="square-info">
                  <div class="square-info-title">Votes received</div>
                  <div class="square-info-bottom">

                    <% votes = 0 %>
                    <% current_user.battles.each do |battle| %>
                      <% votes += battle.votes.count %>
                    <% end %>

                    <i class="fa-solid fa-check-to-slot"></i><span><%= votes %></span>
                  </div>
                </div>
                <div class="square-info">
                  <div class="square-info-title">Rank</div>
                  <div class="square-info-bottom">
                    <i class="fa-solid fa-ranking-star"></i><span>Noob</span>
                  </div>
                </div>

            </div>
          </div>
        </div>

          <div class="button"><%= button_to "Start a new battle", new_battle_path, method: :get, class: "button-new" %></div>

            <div class="ia-right">
              <div class="all-logos">
                  <div class="logo-with-name">
                    <div class="logo-name">Claude</div>
                    <%= image_tag "logos_ai/claude.png", alt: "logo", class: " logo" %>
                  </div>

                  <div class="logo-with-name">
                    <div class="logo-name">Deepseek</div>
                    <%= image_tag "logos_ai/deepseek.png", alt: "logo", class: "logo" %>
                  </div>

                  <div class="logo-with-name">
                    <div class="logo-name">Grok</div>
                    <%= image_tag "logos_ai/grok.png", alt: "logo", class: "logo" %>
                  </div>

                  <div class="logo-with-name">
                    <div class="logo-name">Mistral</div>
                    <%= image_tag "logos_ai/Mistral.png", alt: "logo", class: " logo" %>
                  </div>

                <div class="logo-with-name">
                  <div class="logo-name">ChatGPT</div>
                  <%= image_tag "logos_ai/chatgpt.png", alt: "logo", class: " logo" %>
                </div>

                <div class="logo-with-name">
                  <div class="logo-name">Meta</div>
                  <%= image_tag "logos_ai/meta.png", alt: "logo", class: " logo" %>
                </div>
            </div>
          </div>
      </div>

      <h2 class="second-title">My battles</h2>
        <div class="index-second-row" id="unid">

          <% current_user.battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>


        </div>
          <div class="button-row">
            <button class="button-slide" onclick="toLeft(unid, 500)"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="button-slide" onclick="toRight(unid, 500)"><i class="fa-solid fa-arrow-right"></i></button>
          </div>

    <div class="third-row-index">
      <h2 class="second-title">Opened battles</h2>
        <div class="index-third-row" id="itemContainer">

          <% @ongoing_battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card-third-row hidden">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>

        </div>

        <div class="button-row">
          <button id="loadLess" class="button-slide" style="display: none">Show less</button>
          <button id="loadMore" class="button-slide">Show more</button>
        </div>

      </div>


    <div class="fourth-row-index">
      <h2 class="second-title">History</h2>
        <div class="index-fourth-row">

          <% @past_battles.each do |battle| %>
              <%= link_to battle_path(battle), class: 'text-decoration-none' do %>
                <div class="prompt-card">
                  <div class="prompt-top"><p><%= battle.prompt %></p></div>

                    <div class="prompt-card-body">
                      <div class="category"><%= battle.category.capitalize %></div>
                        <div class="last-elements-card">
                          <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
                          <div class="status"><%= status = battle.winner ? "Closed" : "In Progress" %></div>
                        </div>
                    </div>
                </div>
              <% end %>
          <% end %>

        </div>

        <div class="button-row"><%= link_to "See all history", history_battles_path, class: 'd-inline-block button-slide' %></div>

    </div>


</div>
