<%# <h1>C'EST L'ONGOING Battle MA GUEULE</h1>

<div class="card-row">
  <% if @battles.any? %>
  <%# <% @battles.each do |battle| %>
    <%# <% status = battle.winner ? "Closed" : "In Progress"  %>
      <%# <div class="prompt-card">
        <div class="prompt"><%= battle.prompt %></div>
        <%# <div class="category"><%= battle.category %></div>
        <%# <div class="pseudo"><%= battle.user.pseudo %></div>
        <%# <div class="status">
          <%= status %>
        <%# </div>
      </div>
    <% end  %>
  <%# <% else %>
    <%# <div class="prompt-card">
      <p>Aucune bataille en cours.</p>
    </div>
  <% end %>
<%# </div>
<div class="card-row">
  <%= link_to "Login", new_user_session_path, class: "btn-login" %>
<%# </div>   %>

<h1 class="light-text-color">C'EST L'ONGOING Battle MA GUEULE</h1>

<div class="card-row">
  <% if @battles.any? %>
  <% @battles.each do |battle| %>
    <% status = battle.winner ? "Closed" : "In Progress"  %>
      <div class="prompt-card">
        <div class="prompt"><p><%= battle.prompt %></p></div>

          <div class="prompt-card-infos">
            <div class="category"><%= battle.category.capitalize %></div>
            <div class="pseudo"><%= "Prompted by: #{battle.user.pseudo}" %></div>
            <div class="status"><%= status %></div>
          </div>
      </div>
    <% end  %>
  <% else %>
    <div class="prompt-card">
      <p>Aucune bataille en cours.</p>
    </div>
  <% end %>
</div>
<div class="card-row">
  <%= link_to "Login", new_user_session_path, class: "btn-login" %>
</div>
