<div class="container">
  <h1>New Battle begin</h1>

  <%= simple_form_for @battle do |f| %>
    <div class="d-flex">
      <%= f.input :category, as: :radio_buttons, collection: ["research", "image generation", "content generation", "discussion", "mathematics"] %>
      <%= f.input :end_date, as: :string,
        input_html: {
          data: { controller: "datepicker" },
          placeholder: Date.today + 1
          } %>
    </div>
    <%= f.input :prompt, label: 'Enter your prompt here' %>
    <%= f.button :submit, 'Battle now !', class: 'btn btn-primary' %>
  <% end %>
</div>
