<% if DateTime.now < @battle.end_date %>
<%# if @battle.winner.nil? %>

  <div class="user-prompt-and-infos">
    <div class="user-prompt">
      <%= @battle.prompt %>
    </div>
    <div>
      <!-- Timer -->
      <% seconds_until_target_time = @battle.end_date.to_time.to_i - Time.now.to_i %>

      <div class="user-infos-and-timer">
        <div class="timer user-infos"><%= content_tag(:h1, "", data: {
          controller: "timer",
          timer_target: "timer",
          seconds_until_end_value: seconds_until_target_time
        }) %></div>
      </div>

      <div class="user-infos-and-timer mt-2">
        <div class="user-infos">
          <% if @battle.user.photo.attached?%>
            <%= cl_image_tag @battle.user.photo.key, class: 'avatar' %>
          <% else %>
            <%= image_tag "Default_avatar.jpg", class: 'avatar' %>
          <% end %>
            <span class="ms-3"><%= @battle.user.pseudo %></span>
        </div>
      </div>
    </div>
  </div>

  <h2 class="choose text-turquoize-color">Choose the best answer</h2>

  <div class="row-container-show">
    <% @responses.each do |response| %>
        <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
          <div class="response-card">
            <div class="show-error-card">
              <h5 class="error-card-text">Uh oh ... it seems like this AI won't be able to participate</h5>
              <%= image_tag "error_529_vector" %>
            </div>
          </div>
        <% else %>

          <%= link_to battle_votes_path(@battle, response_id: response.id), data: {turbo_method: :post} , class: 'response-card', remote: true do %>
            <i class="fa-solid fa-heart heart"></i>
            <%= render "response", response: response, battle: @battle, user: current_user, vote: @vote %>
            <%# <div class="ftm"><%= button_to "Vote", battle_votes_path(@battle, response_id: response.id), method: :post, class: "vote-button" %>
          <% end %>

        <% end %>

    <% end %>

  </div>

<% else %>

  <h1 class="title-index">This battle is already over</h1>

  <%= button_to "Start a new one", new_battle_path, method: :get, class: "start-button" %>

  <div class="user-prompt"><%= @battle.prompt %></div>

  <i class="fa-solid fa-trophy trophy"></i>

  <div class="podium">
    <div class="podium-left"><span><%= @ranking[1] %></span></div>
    <div class="podium-middle"><span><%= @ranking.first %></span></div>
    <div class="podium-right"><span><%= @ranking.last %></span></div>
  </div>

  <div class="row-container-show">
      <% @responses.each do |response| %>

          <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
            <div class="response-card">
              <div class="show-error-card">
                <h5 class="error-card-text">Sorry, this AI couldn't participate</h5>
                <%= image_tag "error_529_vector" %>
              </div>
            </div>
          <% else %>
            <div class="response-card">
              <h4><%= response.model %></h4>
              <%= markdown_to_html(response.content) %>
            </div>
          <% end %>

      <% end %>
    </div>

<% end %>
