<% if DateTime.now < @battle.end_date %>
<%# if @battle.winner.nil? %>

  <div class="user-prompt">
    <%= @battle.prompt %>
  </div>

  <!-- Timer -->
  <% seconds_until_target_time = @battle.end_date.to_time.to_i - Time.now.to_i %>

  <div class="timer"><%= content_tag(:h1, "", data: {
    controller: "timer",
    timer_target: "timer",
    seconds_until_end_value: seconds_until_target_time
  }) %></div>

  <div class="row-container-show">
    <% @responses.each do |response| %>
      <%= render "response", response: response, battle: @battle %>
    <% end %>
  </div>

<% else %>

<h1 class="title-index">This battle is already over</h1>

<%= button_to "Start a new one", new_battle_path, method: :get, class: "start-button" %>

 <div class="user-prompt"><%= @battle.prompt %></div>

<i class="fa-solid fa-trophy trophy"></i>

<div class="podium">
  <div class="podium-left"><span><%= @ranking[1] %></span></div>
  <div class="podium-middle"><span><%= @ranking.first %></span></div>
  <div class="podium-right"><span><%= @ranking.last %></span></div>
</div>

<div class="row-container-show">
    <% @responses.each do |response| %>
    <div class="response-card">
        <h4><%= response.model %></h4>
          <%= markdown_to_html(response.content) %>
      <%#= response.votes.count %>
    </div>
    <% end %>
  </div>

<%# @battle.responses.each do |response| %>
  <%# if response.votes.count == @votes_count_ranking.first %>
    <%# <h4><p>winner: </p><%= response.model</h4> %>
  <%# else %>
    <%# <h4><%= response.model</h4> %>
  <%# end %>
  <%#= response.content %>
<%# end %>

<% end %>
