<% if DateTime.now < @battle.end_date %>
<%# if @battle.winner.nil? %>

  <div class="user-prompt">
    <%= @battle.prompt %>
  </div>

  <!-- Timer -->
  <% seconds_until_target_time = @battle.end_date.to_time.to_i - Time.now.to_i %>

  <div class="timer"><%= content_tag(:h1, "", data: {
    controller: "timer",
    timer_target: "timer",
    seconds_until_end_value: seconds_until_target_time
  }) %></div>

  <div class="row-container-show">
    <% @responses.shuffle.each do |response| %>
      <div class="response-card">
        <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
          <%= image_tag "error_529" %>
        <% else %>
          <%= render "response", response: response %>
          <div class="ftm"><%= button_to "Vote", battle_votes_path(@battle, response_id: response.id), method: :post, class: "vote-button" %></div>
        <% end %>
      </div>
    <% end %>
  </div>

<% else %>

  <h1 class="title-index">This battle is already over</h1>

  <%= button_to "Start a new one", new_battle_path, method: :get, class: "start-button" %>

  <div class="user-prompt"><%= @battle.prompt %></div>

  <i class="fa-solid fa-trophy trophy"></i>

  <div class="podium">
    <div class="podium-left"><span><%= @ranking[1] %></span></div>
    <div class="podium-middle"><span><%= @ranking.first %></span></div>
    <div class="podium-right"><span><%= @ranking.last %></span></div>
  </div>

  <div class="row-container-show">
      <% @responses.each do |response| %>
        <div class="response-card">
          <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
            <%= image_tag "error_529" %>
          <% else %>
            <h4><%= response.model %></h4>
              <%= markdown_to_html(response.content) %>
          <% end %>
        </div>
      <% end %>
    </div>

<% end %>
