<%# if DateTime.now < @battle.end_date %>
<% if @battle.winner.nil? %>

  <!-- Timer -->
  <% seconds_until_target_time = @battle.end_date.to_time.to_i - Time.now.to_i %>

  <%= content_tag(:h1, "", data: {
    controller: "timer",
    timer_target: "timer",
    seconds_until_end_value: seconds_until_target_time
  }) %>

  <div class="container border my-4">
  <h2>Prompt</h2>
    <%= @battle.prompt %>
  </div>

  <div class="d-flex mx-4">
    <% @responses.each do |response| %>
    <div class="border mx-2">
        <h4><%= response.model %></h4>
        <p><%= response.content %></p>

        <div>
            <%= button_to "Vote", battle_votes_path(@battle, response_id: response.id), method: :post %>
        </div>

      <%= response.votes.count %>

    </div>
    <% end %>

  </div>

<% else %>

<h2>This battle is already over</h2>

<%= button_to "Start a new one", new_battle_path, method: :get %>

<p>Winner: <%= @ranking.first %></p>
<p>Second: <%= @ranking[1] %></p>
<p>Third: <%= @ranking.last %></p>

<% end %>
