<% if DateTime.now < @battle.end_date %>
<%# if @battle.winner.nil? %>

  <div class="user-prompt-and-infos">
    <div class="show-user-prompt">
      <%= @battle.prompt %>
      <div class="show-category">
        <% if @battle.category == "Content generation" %>
          <i class="fa-solid fa-keyboard"></i>
        <% elsif @battle.category == "Research" %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% elsif @battle.category == "Discussion" %>
          <i class="fa-solid fa-comments"></i>
        <% else %>
          <i class="fa-solid fa-calculator"></i>
        <% end %>
      </div>
    </div>
    <div>
      <!-- Timer -->
      <% seconds_until_target_time = @battle.end_date.to_time.to_i - Time.now.to_i %>

      <div class="user-infos-and-timer">
        <div class="timer show-user-infos"><%= content_tag(:h1, "", data: {
          controller: "timer",
          timer_target: "timer",
          seconds_until_end_value: seconds_until_target_time
        }) %></div>
      </div>

      <div class="user-infos-and-timer mt-2">
        <div class="show-user-infos">
          <% if @battle.user.photo.attached?%>
            <%= cl_image_tag @battle.user.photo.key, class: 'avatar-show' %>
          <% else %>
            <%= image_tag "Default_avatar.jpeg", class: 'avatar-show' %>
          <% end %>
            <span class="ms-2"><%= @battle.user.pseudo %></span>
        </div>
      </div>
    </div>
  </div>

  <h2 class="choose text-turquoize-color">Choose the best answer</h2>

  <div class="row-container-show">
    <% @responses.each do |response| %>
        <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
          <div class="response-card">
            <div class="show-error-card">
              <h5 class="error-card-text">Uh oh ... it seems like this AI won't be able to participate</h5>
              <%= image_tag "error_529_vector.svg" %>
            </div>
          </div>
        <% else %>

            <%= link_to battle_votes_path(@battle, response_id: response.id), data: { turbo_method: :post }, class: "response-card #{'active-vote' if Vote.user_voted?(current_user, @battle) && response == @vote.response}" do %>
            <div class="response-card-scroll">
              <%= render "response", response: response, battle: @battle, user: current_user, vote: @vote %>
            </div>
          <% end %>

        <% end %>

    <% end %>

  </div>

<% else %>

  <h1 class="title-index">This battle is already over</h1>

  <%= button_to "Start a new one", new_battle_path, method: :get, class: "show-start-button" %>
  <div class="user-prompt-and-infos">
    <div>
        <div class="show-user-prompt">
          <%= @battle.prompt %>
          <div class="show-category">
            <% if @battle.category == "Content generation" %>
              <i class="fa-solid fa-keyboard"></i>
            <% elsif @battle.category == "Research" %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% elsif @battle.category == "Discussion" %>
              <i class="fa-solid fa-comments"></i>
            <% else %>
              <i class="fa-solid fa-calculator"></i>
            <% end %>
          </div>
        </div>
    </div>

    <div>
      <div class="user-infos-and-timer justify-content-between">
        <p class="ms-3 text-gray-color">Closed</p>
        <p class="text-gray-color me-3"><%= @votes_count %> Votes</p>
      </div>

      <div class="user-infos-and-timer mt-2">
        <div class="show-user-infos">
          <% if @battle.user.photo.attached?%>
            <%= cl_image_tag @battle.user.photo.key, class: 'avatar-show' %>
          <% else %>
            <%= image_tag "Default_avatar.jpeg", class: 'avatar-show' %>
          <% end %>
            <span class="ms-2"><%= @battle.user.pseudo %></span>
        </div>
      </div>
    </div>
  </div>


  <div class="chart-container">
    <div class="charts-card">

      <div class="bar-chart">
        <p class="chart-p chart-p-winner">Winner <i class="fa-solid fa-crown"></i></p>
        <canvas data-controller="barchart" data-barchart-ranking-value=<%= @ranking.to_json %> data-barchart-votecount-value=<%= @votes_count_ranking.to_json %>>
        </canvas>
      </div>
      <div class="doughnut-chart">
        <p class="chart-p">Winning rates:</p>
        <canvas data-controller="doughnut" data-doughnut-models-value=<%= @sorted_models.to_json %> data-doughnut-votes-value=<%= @sorted_vote_counts.to_json %>>
        </canvas>
      </div>
    </div>

  </div>

  <div class="row-container-show">
      <% @responses.each do |response| %>

          <% if response.content == "API Error" || response.content == "an unknown error has occurred" %>
            <div class="response-card">
              <div class="show-error-card">
                <h5 class="error-card-text">Sorry, this AI couldn't participate</h5>
                <%= image_tag "error_529_vector.svg" %>
              </div>
            </div>
          <% else %>
            <div class="response-card-podium">
              <div class="response-card-scroll"><%=  %>
                <%= content_tag :p, response.model, class: "text-center fs-3 show-model-response #{ response.model == @ranking.first ? 'yellow-text-color' : 'text-turquoize-color' }" %>
                <p class="margin-token text-gray-color">tokens: <%= response.token %></p>
                <div class="response-content-text-card">
                  <%= markdown_to_html(response.content) %>
                </div>
              </div>
            </div>
          <% end %>

      <% end %>
    </div>
</div></div>
<%# </div> %>
<% end %>
