<div>
<h2>Prompt</h2>
  <%= @battle.prompt %>
</div>

<div>
  <% @responses.each do |response| %>
    <h4><%= response.model %></h4>
    <p><%= response.content %></p>

    <div>
        <%= button_to "Vote", battle_votes_path(@battle, response_id: response.id), method: :post %>
    </div>

  <%= response.votes.count %>

  <% end %>

</div>
